<div class="game">
  <div class="turn">

  </div>
  <div class="player p0 panel">
    <h4>Hand</h4>
    <div class="hand">
    </div>
    <h4>In Play</h4>
    <div class="in-play">
    </div>
  </div>

  <h4>Supply</h4>
  <div class="supply panel">
  </div>

  <div class="player p1 panel">
    <h4>In Play</h4>
    <div class="in-play">
    </div>
    <h4>Hand</h4>
    <div class="hand">

    </div>
  </div>
</div>

<div class="tools">
  <button class="start-game">Start game</button>
</div>